<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <label>Name:</label>
        <input type="text" name="film_name" required>
        <br><br>

        <label>Description:</label>
        <textarea name="film_description" required></textarea>
        <br><br>

        <label>Rating:</label>
        <input type="number" step=".1" name="film_rating" required>
        <br><br>

        <label>Genre:</label>
        <select name="film_genre">
            {% for elem in genres %}
                <option value="{{ elem.id }}">
                    {{ elem.name }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <label>Duration:</label>
        <input max="500" type="number" name="film_duration" required>
        <br><br>

        <label>Country:</label>
        <select name="film_country">
            {% for elem in countries %}
                <option value="{{ elem.id }}">
                    {{ elem.name }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <input type="submit" value="Create Film">
    </form>
</body>
</html>